.partyExperiencePointsDiv {
    padding:3px;
    width:200px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    border: 1px solid #2B2B32;
}

.adventurerLevelUpContainer {
    position: absolute;
    top: 73px;
    bottom: 3px;
    left: 3px;
    padding-left: 3px;
    padding-right: 3px;
    width: 240px;
    border: 1px solid #2B2B32;
}

.adventurerSkillTabContainer {
    position: absolute;
    top: 43px;
    bottom: 3px;
    left: 254px;
    right: 3px;
    padding: 3px;
}

.adventurerSkillTreeTable {
    width:100%;
}

.adventurerSkillTreeTable td {
    padding-left:3px;
    padding-right:3px;
    vertical-align: middle;
}
